@model HighCode.Presentation.Data.Models.CodeTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CodeTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complexity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complexity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammingLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammingLanguage)
        </dd>
    </dl>
</div>
<div class="d-flex flex-row gap-1">
    @if (User.IsInRole("Moderator"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>
