@model IEnumerable<HighCode.Presentation.Data.Models.CodeTask>
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Задачи";
}

@if (User.IsInRole("Moderator"))
{
    <p>
        <a asp-action="Create">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitTestCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateFuncSignature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complexity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammingLanguage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitTestCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateFuncSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammingLanguage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
